.purple-bg {
    background-color: #626BE7;
}

.orange-bg {
    background-color: #F39264!important;
}

.green-bg {
    background-color: #1BB79F!important;
}

.blue-bg {
    background-color: #0383FE!important;
}

.pinkred-bg {
    background-color: #EB6477!important;
}

.gray-bg {
    background-color: #797979!important;
}

.lightGray-bg {
    background-color: #dedcdc!important;
}